<template name="inventory">
  <div class="container">
      <div><h2> Inventario </h2></div>
      {{#if currentUser}}
      <button class="btn btn-success js-show-inventory-form">Crear Producto</button>
      {{/if}}
    <table class="table table-stripped">
    <thead>
      <tr>
        <th>SKU</th>
        <th>Producto</th>
        <th>Disponible</th>
        {{#if currentUser}}
        <th>Minimo</th>
        <th>Costo</th>
        <th>Precio</th>
        {{/if}}
      </tr>
    </thead>
    <tbody id="customertable">
      {{#each products}}
      <tr>
        <td>{{productSKU}}</td>
        <td> {{productName}}</td>
        <td> {{atHand}}</td>
        {{#if currentUser}}
        <td> {{min}}</td>
        <td> {{cost}}</td>
        <td> {{price}}</td>
        <td> <a class="btn btn-info" href="/product/{{_id}}" role="button">Edit</a></td>
        <td> <button class="btn btn-success js-sell-product" data-id="{{_id}}"> Vender </button></td>
        {{#if isManufactured}}
        <td> <button class="btn btn-warning js-manufacture-product"> Fabricar </button></td>
        {{/if}}
        {{#if isPurchased}}
        <td> <button class="btn btn-default js-buy-product"> Comprar </button></td>
        {{/if}}
        <td> <button class="btn btn-danger js-consume-product"> Usar </button></td>
        {{/if}}
      </tr>
    {{/each}}
    </tbody>
  </table>
  </div>
</template>

<template name="add_product">
  <div class="modal fade" id="add_product">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title"> <h2>Nuevo Producto</h2>
          </div>
        </div>
        <div class="modal-body">
          <form class="js-add-product form-horizontal">
              <div class="form-group">
                <label for="productName" class="col-sm-2 control-label">Producto</label>
                <div class="col-sm-10">
                  <input type="text" name="productName" class="form-control" placeholder="Nombre">
                </div>
              </div>
              <div class="form-group">
                <label for="productSKU" class="col-sm-2 control-label">SKU</label>
                <div class="col-sm-10">
                  <input type="text" name="productSKU" class="form-control" placeholder="SKU">
                </div>
              </div>
              <div class="form-group">
                <label for="isManufactured" class="col-sm-2 control-label">Se Fabrica</label>
                <div class="col-sm-10">
                  <select class="selectpicker" name="isManufactured">
                    <option>SI</option>
                    <option>NO</option>
                  </select>
                </div>
              </div>
              <!-- <div class="form-group">
                <label for="isManufactured" class="col-sm-2">Fabricado</label>
                <div class="col-sm-10">
                  <input type="checkbox" name="isManufactured">
                </div>
              </div> -->
              <div class="form-group">
                <label for="atHand" class="col-sm-2 control-label">Disponible</label>
                <div class="col-sm-10">
                  <input type="number" class="form-control" name="atHand" placeholder="Cantidad disponible">
                </div>
              </div>
              <div class="form-group">
                <label for="supplier" class="col-sm-2 control-label">Provedor</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="supplier" placeholder="Provedor">
                </div>
              </div>
                <div class="form-group">
                  <label for="min" class="col-sm-2 control-label">Minimo</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="min" placeholder="Punto de reorden">
                  </div>
                </div>
                <div class="form-group">
                  <label for="orderQty" class="col-sm-2 control-label">Orden</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="orderQty" placeholder="Cantidad min por orden">
                  </div>
                </div>

                <div class="form-group">
                  <label for="price" class="col-sm-2 control-label">Precio</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="price" placeholder="Precio">
                  </div>
                </div>
                <div class="form-group">
                  <label for="cost" class="col-sm-2 control-label">Costo</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" name="cost" placeholder="Costo">
                  </div>
                </div>

            <div class="form-group">
              <label for="comment" class="col-sm-2 control-label">Comentarios</label>
            </div>
              <div class="form-group">
                <textarea class="form-control" rows="5" name="comment" placeholder="Comentarios"></textarea>
              </div>

              <button class="btn btn-success">Aceptar</button>

          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="sell_product">
  <div class="modal fade" id="sell_product">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title"><h2>{{productName}}</h2> Vender Producto
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
          <div class = "col-sm-6"> <h3> Disponible {{atHand}}</h3></div></div>
          <form class="js-sell-product form-horizontal">
              <div class="form-group">
                <label for="sellQty" class="col-sm-2 control-label">Cantidad</label>
                <div class="col-sm-10">
                  <input type="number" name="sellQty" class="form-control" placeholder="cantidad">
                </div>
              </div>


              <button class="btn btn-success">Aceptar</button>

          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="consume_product">
  <div class="modal fade" id="consume_product">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title"><h2>{{productName}}</h2> Consumir Producto
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
          <div class = "col-sm-6"> <h3> Disponible {{atHand}}</h3></div></div>
          <form class="js-consume-product form-horizontal">
              <div class="form-group">
                <label for="consumeQty" class="col-sm-2 control-label">Cantidad</label>
                <div class="col-sm-10">
                  <input type="number" name="consumeQty" class="form-control" placeholder="cantidad">
                </div>
              </div>
              <button class="btn btn-success">Aceptar</button>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="order_product_manufacture">
  <div class="modal fade" id="order_product_manufacture">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title"><h2>{{productName}}</h2> Solicitar Producción de Producto
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
          <div class = "col-sm-6"> <h3> Disponible {{atHand}}</h3></div></div>
          <form class="js-manufacture-product form-horizontal">
              <div class="form-group">
                <label for="produceQty" class="col-sm-2 control-label">Cantidad</label>
                <div class="col-sm-10">
                  <input type="number" name="produceQty" class="form-control" placeholder="cantidad">
                </div>
              </div>
              <button class="btn btn-success">Aceptar</button>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="buy_product">
  <div class="modal fade" id="buy_product">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title"><h2>{{productName}}</h2> Vender Producto
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
          <div class = "col-sm-6"> <h3> Disponible {{atHand}}</h3></div></div>
          <form class="js-buy-product form-horizontal">
              <div class="form-group">
                <label for="buyQty" class="col-sm-2 control-label">Cantidad</label>
                <div class="col-sm-10">
                  <input type="number" name="buyQty" class="form-control" placeholder="cantidad">
                </div>
              </div>


              <button class="btn btn-success">Aceptar</button>

          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</template>
<!-- <template name="add_product">
  <div class="modal fade" id="add_product">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">
          </div>
        </div>
        <div class="modal-body">
          <form class="js-add-product">
            <input type="text" name="img_src" placeholder="URL"/><br/>
            <input type="text" name="img_alt" placeholder="Describe the product here"/>
            <button class="btn btn-success">add product</button>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">cancel</button>
        </div>
      </div>
    </div>
  </div>
</template> -->


<template name="product">
  <div class="container">
    <div class="row">
    <h2>{{productName}}</h2></div>
    {{#if currentUser}}
    <form class="js-edit-product form-horizontal">
        <div class="form-group">
          <label for="productName" class="col-sm-2 control-label">Producto</label>
          <div class="col-sm-10">
            <input type="text" name="productName" class="form-control" value="{{productName}}" placeholder="Nombre">
          </div>
        </div>
        <div class="form-group">
          <label for="productSKU" class="col-sm-2 control-label">SKU</label>
          <div class="col-sm-10">
            <input type="text" name="productSKU" class="form-control" value="{{productSKU}}" placeholder="SKU">
          </div>
        </div>
        <div class="form-group">
          <label for="isManufactured" class="col-sm-2 control-label">Se Fabrica</label>
          <div class="col-sm-10">
            <select class="selectpicker" name="isManufactured">
              <option>SI</option>
              <option>NO</option>
            </select>
          </div>
        </div>
        <!-- <div class="form-group">
          <label for="isManufactured" class="col-sm-2 control-label">Fabricado</label>
          <div class="col-sm-10">
            <input type="checkbox" name="isManufactured">
          </div>
        </div> -->
        <div class="form-group">
          <label for="atHand" class="col-sm-2 control-label">Disponible</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" name="atHand" value="{{atHand}}" placeholder="Cantidad disponible">
          </div>
        </div>
        <div class="form-group">
          <label for="supplier" class="col-sm-2 control-label">Provedor</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="supplier" value="{{supplier}}" placeholder="Provedor">
          </div>
        </div>
          <div class="form-group">
            <label for="min" class="col-sm-2 control-label">Minimo</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="min" value="{{min}}" placeholder="Punto de reorden">
            </div>
          </div>
          <div class="form-group">
            <label for="orderQty" class="col-sm-2 control-label">Orden</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="orderQty" value="{{orderQty}}" placeholder="Cantidad min por orden">
            </div>
          </div>

          <div class="form-group">
            <label for="price" class="col-sm-2 control-label">Precio</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="price" value="{{price}}" placeholder="Precio">
            </div>
          </div>
          <div class="form-group">
            <label for="cost" class="col-sm-2 control-label">Costo</label>
            <div class="col-sm-10">
              <input type="number" class="form-control" name="cost" value="{{cost}}" placeholder="Costo">
            </div>
          </div>

      <div class="form-group">
        <label for="comment" class="col-sm-2 control-label">Comentarios</label>
      </div>
        <div class="form-group">
          <textarea class="form-control" rows="5" name="comment" value="{{comment}}" placeholder="Comentarios"></textarea>
        </div>
        <button class="btn btn-success js-update-product btnspace">Aceptar</button>

    </form>
    <button class="btn btn-warning js-cancel btnspace">Cancelar</button>

    <a class="btn btn-danger js-del-product pull-right btnspace" href="/inventory" role="button">Eliminar</a>
    {{/if}}
  </div>
</template>
