<template name="erp-navbar">
  <div class="bartab">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a href="../erp">ERP</a></li>
        <li><a href="../inventory">Inventory</a></li>
        <li><a href="../manufacturing">Manufacturing</a></li>
        <li><a href="../purchases">Purchases</a></li>
      </ul>
    </div>
  </div>
</template>



<template name="catalogue">
  <div class="container js-container">
  {{#if currentUser}}
  <button class="btn btn-success js-show-product-form">ADD Product</button>
  {{/if}}
  <p>
    {{#if filtering_products}}
    Products filtered by: {{getFilterCategory}} <a href="#" class="js-remove-user-filter">show all</a>
    {{/if}}
  </p>
  <div class="row">
    {{#each products}}
    <div class="col-xs-12 col-md-3" id="{{_id}}">
      <div class="thumbnail">
          <a href="/product/{{_id}}">TEST</a>
        <div class="caption">
          <h3> Example Product</h3>
          <h4> Rating: {{rating}}</h4>
          <p>Created By:
            <a href="#" class="js-set-user-filter"> {{getUser createdBy}}</a></p>
          <p>{{img_alt}}</p>
          <p>
            {{>starsRating mutable=true class="js-rate-product" id=_id}}
          </p>
          {{#if currentUser}}
            <button class="js-del-product btn btn-warning">delete</button>
          {{/if}}
        </div>
      </div>
    </div>

  {{/each}}
</div>
</div>
</template>
