<template name="erp-navbar">
  <div class="bartab">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a href="erp">ERP</a></li>
        <li><a href="inventory">Inventory</a></li>
        <li><a href="manufacturing">Manufacturing</a></li>
        <li><a href="purchases">Purchases</a></li>
      </ul>
    </div>
  </div>
</template>

<template name="inventory">
  <div class="container">
      <div><h2> Inventario </h2></div>
      {{#if currentUser}}
      <button class="btn btn-success js-show-inventory-form">Crear Producto</button>
      {{/if}}
    <table class="table table-stripped">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Disponible</th>
        <th>Minimo</th>
        <th>Costo</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody id="customertable">
      {{#each customers}}
      <tr>
        <td> {{product}}</td>
        <td> {{onhand}}</td>
        <td> {{minstock}}</td>
        <td> {{cost}}</td>
        <td> {{price}}</td>
        <td> <button class="btn btn-warning"> editar </button></td>
        <td> <button class="btn btn-success"> vender </button></td>
        <td> <button class="btn btn-success"> fabricar </button></td>
        <td> <button class="btn btn-success"> comprar </button></td>
      </tr>
    {{/each}}
    </tbody>
    </table>
  </div>
</template>

<template name="add_product">
  <div class="modal fade" id="add_product">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title"> Nuevo Producto
          </div>
        </div>
        <div class="modal-body">
          <form class="js-add-customer form-horizontal">
              <div class="form-group">
                <label for="inputname" class="col-sm-2 control-label">Producto</label>
                <div class="col-sm-10">
                  <input type="name" class="form-control" id="inputname" placeholder="Nombre">
                </div>
              </div>
              <div class="form-group">
                <label for="inputlastname" class="col-sm-2 control-label">Disponible</label>
                <div class="col-sm-10">
                  <input type="lastname" class="form-control" id="inputlastname" placeholder="apellido">
                </div>
              </div>
              <div class="form-group">
                <label for="inputcompany" class="col-sm-2 control-label">Provedor</label>
                <div class="col-sm-10">
                  <input type="company" class="form-control" id="inputcompany" placeholder="company">
                </div>
              </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Minimo</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Orden</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Costo</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Precio</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                  </div>
                </div>
            <div class="form-group">
              <label for="inputcomment" class="col-sm-2 control-label">Comentarios</label>
            </div>
              <div class="form-group">
                <textarea class="form-control" rows="5" id="comment"></textarea>
              </div>


          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success">Aceptar</button>

          <button class="btn btn-warning" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</template>

<!-- <template name="add_product">
  <div class="modal fade" id="add_product">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">
          </div>
        </div>
        <div class="modal-body">
          <form class="js-add-product">
            <input type="text" name="img_src" placeholder="URL"/><br/>
            <input type="text" name="img_alt" placeholder="Describe the product here"/>
            <button class="btn btn-success">add product</button>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" data-dismiss="modal">cancel</button>
        </div>
      </div>
    </div>
  </div>
</template> -->


<template name="product">
  <div class="container">
    <h2>{{img_alt}}</h2>
    <a href="/products"><img class="single-img" src="{{img_src}}"/></a>
  </div>
</template>


<template name="catalogue">
  <div class="container js-container">
  {{#if currentUser}}
  <button class="btn btn-success js-show-product-form">ADD Product</button>
  {{/if}}
  <p>
    {{#if filtering_products}}
    Products filtered by: {{getFilterCategory}} <a href="#" class="js-remove-user-filter">show all</a>
    {{/if}}
  </p>
  <div class="row">
    {{#each products}}
    <div class="col-xs-12 col-md-3" id="{{_id}}">
      <div class="thumbnail">
          <a href="/product/{{_id}}"><img class="js-product thumbnail-img" src="{{img_src}}" alt="{{img_alt}}"/></a>
        <div class="caption">
          <h3> Example Product</h3>
          <h4> Rating: {{rating}}</h4>
          <p>Created By:
            <a href="#" class="js-set-user-filter"> {{getUser createdBy}}</a></p>
          <p>{{img_alt}}</p>
          <p>
            {{>starsRating mutable=true class="js-rate-product" id=_id}}
          </p>
          {{#if currentUser}}
            <button class="js-del-product btn btn-warning">delete</button>
          {{/if}}
        </div>
      </div>
    </div>

  {{/each}}
</div>
</div>
</template>
