<template name="welcome">
  <div class="container">
    <div class= "jumbotron">
      <h1>MakerMex ERP</h1>
      <h4> Welcome: {{username}}</h4>
      <a href="/crm" class="btn btn-info">ENTER</a>
    </div>
  </div>
</template>

<template name="navbar">
  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a href="#">MakerERP</a></li>
        <li><a href="products">ERP</a></li>
        <li><a href="crm">CRM</a></li>
        <li><a href="tasks">Tasks</a></li>
        <li><a href="news">News</a></li>
        <li><a href="dashboard">Dashboard</a></li>
      </ul>
      <div class="navbar-text navbar-right">
      {{> loginButtons}}
    </div>
    </div>
  </nav>
</template>

<template name="crm-navbar">
  <nav class="sec-navbar navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a href="crm">CRM</a></li>
        <li><a href="customers">Customers</a></li>
        <li><a href="invoice">Invoices</a></li>
        <li><a href="support">Support</a></li>
      </ul>
    </div>
  </nav>
</template>


<template name="crm">
  <div class="container">
    <div> CRM Dashboard </div>
  </div>
</template>

<template name="customers">
  <div class="container">
      <div><h2> Clientes </h2></div>
      {{#if currentUser}}
      <button class="btn btn-success js-show-customer-form">ADD customer</button>
      {{/if}}
    <table class="table table-stripped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Etiquetas</th>
      </tr>
    </thead>
    <tbody id="customertable">
      {{#each customers}}
      <tr>
        <td> {{name}}</td>
        <td> {{lastname}}</td>
        <td> {{email}}</td>
        <td> {{phone}}</td>
        <td> {{tags}}</td>
        <td> <button class="btn btn-success"> editar </button></td>
      </tr>
    {{/each}}
    </tbody>
    </table>
  </div>
</template>

<template name="add_customer">
  <div class="modal fade" id="add_customer">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">
          </div>
        </div>
        <div class="modal-body">
          <form class="js-add-customer form-horizontal">
              <div class="form-group">
                <label for="inputname" class="col-sm-2 control-label">Nombres</label>
                <div class="col-sm-10">
                  <input type="name" class="form-control" id="inputname" placeholder="Nombre">
                </div>
              </div>
              <div class="form-group">
                <label for="inputlastname" class="col-sm-2 control-label">Apellidos</label>
                <div class="col-sm-10">
                  <input type="lastname" class="form-control" id="inputlastname" placeholder="apellido">
                </div>
              </div>
              <div class="form-group">
                <label for="inputcompany" class="col-sm-2 control-label">Empresa</label>
                <div class="col-sm-10">
                  <input type="company" class="form-control" id="inputcompany" placeholder="company">
                </div>
              </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                  </div>
                </div>
              <!-- <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Remember me
                    </label>
                  </div>
                </div>
              </div> -->
              <div class="form-group">
                <label for="inputcontact" class="col-sm-2 control-label">Contacto</label>
                <div class="col-sm-10">
                  <select class="selectpicker">
                    <option>Facebook</option>
                    <option>Google</option>
                    <option>Recomendación</option>
                    <option>Prospecto</option>
                  </select>
                </div>
              </div>
            <div class="form-group">
              <label for="inputcomment" class="col-sm-2 control-label">Comentarios</label>
            </div>
              <div class="form-group">
                <textarea class="form-control" rows="5" id="comment"></textarea>
              </div>


          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success">Aceptar</button>

          <button class="btn btn-warning" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="invoices">
  <div class="container">
    <div> Invoices </div>
    {{#if currentUser}}
    <button class="btn btn-success js-show-invoice-form">Create Invoice</button>
    {{/if}}
  </div>
</template>


<template name="create_invoice">
  <div class="modal fade" id="create_invoice">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">
          </div>
        </div>
        <div class="modal-body">
          <form class="js-add-customer form-horizontal">
              <div class="form-group">
                <label for="inputname" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <input type="name" class="form-control" id="inputname" placeholder="Nombre">
                </div>
              </div>
              <div class="form-group">
                <label for="inputlastname" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                  <input type="lastname" class="form-control" id="inputlastname" placeholder="apellido">
                </div>
              </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                  </div>
                </div>
              <!-- <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Remember me
                    </label>
                  </div>
                </div>
              </div> -->
              <div class="form-group">
                <label for="inputcontact" class="col-sm-2 control-label">Contacto</label>
                <div class="col-sm-10">
                  <select class="selectpicker">
                    <option>Facebook</option>
                    <option>Google</option>
                    <option>Recomendación</option>
                    <option>Prospecto</option>
                  </select>
                </div>
              </div>
            <div class="form-group">
              <label for="inputcomment" class="col-sm-2 control-label">Comentarios</label>
            </div>
              <div class="form-group">
                <textarea class="form-control" rows="5" id="comment"></textarea>
              </div>


          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success">Aceptar</button>

          <button class="btn btn-warning" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="tickets">
  <div class="container">
    <div> Tickets </div>
    {{#if currentUser}}
    <button class="btn btn-success js-show-ticket-form">Create Ticket</button>
    {{/if}}
  </div>
</template>


<template name="create_ticket">
  <div class="modal fade" id="create_ticket">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">
          </div>
        </div>
        <div class="modal-body">
          <form class="js-add-customer form-horizontal">
              <div class="form-group">
                <label for="inputname" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                  <input type="name" class="form-control" id="inputname" placeholder="Nombre">
                </div>
              </div>
              <div class="form-group">
                <label for="inputlastname" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                  <input type="lastname" class="form-control" id="inputlastname" placeholder="apellido">
                </div>
              </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                  </div>
                </div>
              <!-- <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Remember me
                    </label>
                  </div>
                </div>
              </div> -->
              <div class="form-group">
                <label for="inputcontact" class="col-sm-2 control-label">Contacto</label>
                <div class="col-sm-10">
                  <select class="selectpicker">
                    <option>Facebook</option>
                    <option>Google</option>
                    <option>Recomendación</option>
                    <option>Prospecto</option>
                  </select>
                </div>
              </div>
            <div class="form-group">
              <label for="inputcomment" class="col-sm-2 control-label">Comentarios</label>
            </div>
              <div class="form-group">
                <textarea class="form-control" rows="5" id="comment"></textarea>
              </div>


          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success">Aceptar</button>

          <button class="btn btn-warning" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</template>
